body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background: #E5E5E5;
    font-family: 'Inter';
}

header{
    height: 5vh;
}

.logo{
    padding: 40px 84px;
}

main{
    width: 100%;
    height: 90vh;
    display: flex;
}

.section1{
    width: 75%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10% 3% 0 5%;
}

#textarea:focus{
    outline: none;
}

#textarea{
    width: 100%;
    height: 40vh;
    resize: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border: none;
    background: none;
}

textarea::placeholder {
    color: #0A3871;
}

.bloqueInferior{
    font-size: 16px;
    justify-content:left;
}

.bloqueInferior p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #495057;
}

.botones{
    display: flex;
    justify-content:left; 
    padding: 24px 0;
    gap: 8px;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
}

.botones input{
    width: 328px;
    height: 67px; 
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
}

.encriptar{
    background: #0A3871;
    color: #FFFFFF;
    border: none;
}

.desencriptar{
    background: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
}

aside{
    display: flex;
    height: 90%;
    width: 35%;
    margin: 1% 40px ;       
    background: #FFFFFF;     
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 1%;
}

.contenidoAside{
    background: #FFFFFF;
    margin: auto;
    text-align: center;
}

.contenidoAside img{
    width: 90%;
}

.contenidoAside h2{
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    margin: 2%;
}

.contenidoAside p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

#contenidoAsideResuelto{
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

#tituloEncriptado{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #343A40;
    margin: 2%;
}

#parrafoEncriptado{
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: left;
    color: #495057;
    margin: 5%;
    height: 600px;
    overflow: auto;
}

.btn-copiar{
    width: 328px;
    height: 67px; 
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    background: #FFF;
    color: #0A3871;
    border-color: #0A3871;
}

footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 5vh;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; 
}

.ocultar{
    display: none;
/*  visibility: hidden; */
}

.mostrar{
    display: contents;
}

/*tablet*/
@media screen and (min-width:481px) and (max-width:1023px){

    main{
        flex-wrap: wrap;
    }
    .section1{
        width: 100%;
        height: 65%;
        margin: 10% 5% 0 5%;
    }
    #textarea{
        overflow: auto;
    }
    .botones{
        justify-content: center;
    }
    .botones input{
        width: 50%;
    }
    .bloqueInferior{
        margin: 0;
    }
    aside{
        width: 100%;
        height: auto; 
        padding-bottom: 10%;
    }
    aside img{
        display: none;
    }
    #parrafoEncriptado{
        height: 100%;
        margin: 2px 5%;
    }
    .contenedorCopiar{
        padding-top: 2%;
    }    
    .btn-copiar{
        width: 98%;
    }

}

/*mobil*/
@media screen and (max-width:480px){

    main{
        flex-wrap: wrap;
    }
    .logo{
        padding: 8%;
    }
    .section1{
        width: 100%;
        height: 65%;
        margin: 15% 5% 0 5%;
    }
    #textarea{
        overflow: auto;
    }
    .botones{
        display: block;
        justify-content: center;
        padding: 0;
    }
    .botones input{
        width: 100%;
        margin-top: 10px;
    }
    .bloqueInferior{
        margin: 0;
    }
    aside{
        width: 100%;
        height: auto; 
        padding: 0 8%;
        margin: 5% 3%;
        overflow: auto;
    }
    aside img{
        display: none;
    }
    #parrafoEncriptado{
        height: 100%;
        margin: 2px 5%;
    }
    .contenedorCopiar{
        padding-top: 2%;
        padding-bottom: 20%;
    }    
    .btn-copiar{
        width: 98%;
    }
}